.slick-list {
  padding: 0 !important;
}
.slick-prev,
.slick-next {
  &::before {
    color: darkblue !important;
  }
}
.slick-next{
  right: -40px !important;
}
@media only screen and (max-width: 991px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
