.banner {
  background: url(/img/home-banner-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: 720px;
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    .left__child {
      font-family: "Playfair Display", serif;
      h1 {
        @include styleText($color-white-0, $fontSize-3 + 2, $fontWeight-2);
      }
      p {
        @include styleText(
          $color-white-0,
          $default-fontsize + 2,
          $default-fontWeight
        );
      }
    }
  }
  &__right {
    margin-top: 50px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
@media only screen and (max-width: 991px) {
  .banner {
    &__left {
      text-align: center;
      p {
        margin-top: 20px;
      }
    }
    &__right {
      display: none;
    }
  }
}
