.headerReference{
    padding: $padding-3 0 ;
    background-image: linear-gradient(
        to right,
        #7c32ff,
        #7f32fd,
        #8232fc,
        #8533fa,
        #8833f9,
        #8e33f6,
        #9333f4,
        #9833f1,
        #a133ed,
        #a834e9,
        #b637e1
      );
      .navbar {
          justify-content: center !important;
      }
}