.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: auto;
  border-bottom: 1px solid $color-black-0;
  background-image: linear-gradient(
    to right,
    #7c32ff,
    #7f32fd,
    #8232fc,
    #8533fa,
    #8833f9,
    #8e33f6,
    #9333f4,
    #9833f1,
    #a133ed,
    #a834e9,
    #b637e1
  );
  &__title {
    a {
      text-decoration: none;
      @include styleText($color-white-0, $fontSize-2, $default-fontWeight);
    }
  }
  nav {
    padding: $padding-0;
    .nav-item {
      a {
        position: relative;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        padding: $margin-4 + 4 0;
        @include styleText(
          $color-white-0,
          $fontSize-1 - 2,
          $default-fontWeight
        );
        &::before {
          background: #04d2c8;
          opacity: 0;
          z-index: 10;
          transform: scaleX(0);
          transition: 0.5s;
          @include styleBeforeAfter(
            absolute,
            "",
            100%,
            3px,
            none,
            none,
            -10px,
            0
          );
        }
        &:hover::before,
        &.active::before {
          opacity: 1;
          transform: scaleX(1);
        }
      }
      padding: $padding-4 ;
      button {
        width: 100%;
        box-shadow: none;
        @include styleButton(
          $color-orange-0,
          $color-orange-0,
          $padding-1,
          $padding-3,
          $bdRad-2
        );
        &:hover {
          @include styleButton(
            transparent,
            $color-orange-0,
            $padding-1,
            $padding-3,
            $bdRad-2
          );
          transition: all 0.5s;
        }
        &:active {
          @include styleButton(
            transparent !important,
            $color-orange-0 !important,
            $padding-1,
            $padding-3,
            $bdRad-2
          );
          box-shadow: none !important;
        }
      }
    }
  }

  &__cart {
    .head-example {
      outline: none;
    }
    @include styleText($color-white-0, $fontSize-1 - 2, $default-fontWeight);
    position: relative;
    cursor: pointer;
    padding: $padding-1 !important;
    .cart__count {
      position: absolute;
      top: 3px;
      right: -8px;
      background-color: #ff4d4f;
      text-align: center;
      @include styleCircle(20px);
      @include styleText(
        $color-white-0,
        $default-fontsize - 3,
        $default-fontWeight
      );
    }
  }
}
//responsive
@media only screen and (max-width: 991px) {
  .header {
    background: #8d33f6;
    text-align: center;
    nav {
      padding: $padding-0;
      .nav-item {
        padding: $padding-2;
        a {
          padding: $padding-1;
          &:hover::before {
            opacity: 1;
            transform: scaleX(0);
          }
          &.active::before {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }

    &__cart {
      width: 100%;
      padding: $padding-2 $padding-4 !important;
      position: relative;
      text-align: center;
      .cart__count {
        position: absolute;
        top: 5px;
        right: 197px;
        background-color: #ff4d4f;
        text-align: center;
        @include styleCircle(20px);
        @include styleText(
          $color-white-0,
          $default-fontsize - 3,
          $default-fontWeight
        );
        border: none;
      }
    }
  }
}
